.projetos .container-projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    animation: slideInFromLeft 1s ease-in-out;
}

.container-projetos .cards {
    width: 383px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgb(97, 97, 97) 8px 8px 22px;
    background: var(--card-background);
    transition: .5s;
    background-color: var( --cor-dark-ligh);
}

.container-projetos .cards:hover {
    transform: scale3d(1.1, 1.1, 1);
}

.card-img img {
    width: 400px;
    height: auto;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    color: var(--cor-fundo-escuro);
}

.title-card {
    font-size: 20px;
    color: var(--cor-fundo-escuro);
}

.text-card {
    font-size: 15px;
    color: var(--cor-fundo-escuro);
    font-weight: 400;
    width: 100%;
    text-align: center;
}

button {
    color: white;
    background: var(--button-background-border);
    border-radius: 30px;
    border: none;
    width: 150px;
    height: 30px;
    margin: 15px 0;
    cursor: pointer;
    font-weight: 500;
    transition: .5s;
}

button:hover {
    background: var(--button-background-hover);
    color: var(--cor-fundo-escuro);
    border: 2px solid  #03FA6E;
}


@media(max-width: 1280px) {
    .projetos .container-projetos {
        padding: 0 var(--mobile-padding);
    }
}